.settings/*
.settings

.idea/*
.idea

lib
lib/*

bin/*
bin

logs/*
logs

debug
release
Debug
Release
Debug-GL
Debug-GL-sanitize
Debug-SDL
Debug/*
Release/*
Debug-GL/*
Debug-GL-sanitize/*
Debug-SDL/*

.cproject
.project
*.dll
*.md.html
*.swp

dlls/*
dlls

build*/
